# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.lcov
.nyc_output

# Production
build/
dist/
out/
.next/
.turbo/

# Misc
.DS_Store
*.pem
.vscode/
.idea/
STRIPE_KEYS_PRIVATE.txt
*_PRIVATE.txt
*_PRIVATE.*

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local
.env.development
.env.production

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# Database
*.db
*.sqlite
*.sqlite3
.database-config.json

# Logs
logs
*.log

# OS
Thumbs.db
.DS_Store

# Editor
*.swp
*.swo
*~

# Temporary files
tmp/
temp/
.cache/

# Railway
railway.json
railway.toml

# Testing
cypress/videos
cypress/screenshots
cypress/downloads

# Package manager
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions